<%layout("./layout/layout.ejs")%>
<div class="welcome" style="text-align: center;margin-top: 210px;">
    <h2>Welcome to the Book Management System</h2>
    <p>Use the navigation menu to explore the system.</p>
</div>

